@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Geist+Mono:wght@100..900&display=swap');

/* @import '../src/styles/globals.css'; */
@import '@picklepilot/pickle-jar-ui/base.css';
@import 'tailwindcss';
/* @tailwind utilities; */

@source '../**/*.{js,ts,jsx,tsx,vue}';

@layer theme {
    :root {
        --font-mono: 'Geist Mono', monospace;
        --background: #ffffff;
        --z-modal-backdrop: 1007;
        --z-popover: 1002;
        --z-tooltip: 1003;
        --z-dropdown: 1004;
        --z-sticky: 1005;
        --z-fixed: 1006;
        --z-modal: 1008;
    }

    .dark {
        --background: oklch(0.14 0 0);
    }
}

.cal-sans-regular {
    font-family: 'Cal Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
}

/* Design System Base Tokens */

/*
Set the default cursor for buttons.
*/
button,
[role='button'] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

.tip-highlight {
    position: relative;
}

.tip-highlight::after {
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    border-radius: inherit;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #fde047; /* TW: text-yellow-300 */
    background-color: rgba(255, 252, 127, 0.35); /* TW: text-yellow-300 */
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.tip-highlight.active::after {
    opacity: 1;
}

.prose {
    @apply text-neutral-600;
}

.prose h1 {
    @apply text-4xl font-semibold text-foreground;
}

.prose h2 {
    @apply mt-8 text-2xl font-medium text-foreground;
}

.prose h3 {
    @apply mt-6 text-xl font-medium text-foreground;
}

.prose p {
    @apply mt-4 font-light text-foreground;
}

.prose .lead {
    @apply text-lg font-light text-muted-foreground;
}

.prose ul {
    @apply mt-4 list-disc pl-6;
}

.markdown-it-content {
    a {
        @apply text-primary underline hover:text-primary/80;
    }
}
