@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

@import 'tailwindcss';
@tailwind utilities;

@source './**/*.{js,ts,jsx,tsx,vue}';
@source './src/**/*.{js,ts,jsx,tsx}';
@source '../../../packages/ui/src/**/*.{js,ts,jsx,tsx,vue}';
@source '../../../packages/ui/.storybook/**/*.{js,ts,jsx,tsx}';
@source '../../../packages/ui-lit/src/**/*.{js,ts,jsx,tsx}';
@source '../../../packages/ui-lit/.storybook/**/*.{js,ts,jsx,tsx}';
@source '../../../apps/web/src/**/*.{js,ts,jsx,tsx,vue}';

.cal-sans-regular {
    font-family: 'Cal Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@theme inline {
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 2000px;

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-surface: var(--surface);
    --color-surface-foreground: var(--surface-foreground);
    --color-code: var(--code);
    --color-code-foreground: var(--code-foreground);
    --color-code-highlight: var(--code-highlight);
    --color-code-number: var(--code-number);
    --color-selection: var(--selection);
    --color-selection-foreground: var(--selection-foreground);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-neutral-200, currentColor);
    }
}

@layer theme {
    :root {
        --background: oklch(0.985 0 0);
        --foreground: oklch(0.145 0 0);

        --card: oklch(0.985 0 0);
        --card-foreground: oklch(0.145 0 0);

        --popover: oklch(0.985 0 0);
        --popover-foreground: oklch(0.145 0 0);

        --primary: oklch(0.145 0 0);
        --primary-foreground: oklch(0.985 0 0);

        --secondary: oklch(0.97 0 0);
        --secondary-foreground: oklch(0.556 0 0);

        --muted: oklch(0.97 0 0);
        --muted-foreground: oklch(0.708 0 0);

        --accent: oklch(0.922 0 0);
        --accent-foreground: oklch(0.145 0 0);

        --destructive: oklch(0.7 0.25 25);
        --destructive-foreground: oklch(0.985 0 0);

        --border: oklch(0.87 0 0 / 0.9);
        --input: oklch(0.97 0 0);
        --ring: oklch(0.97 0 0);

        --radius: 0.625rem;

        --z-modal-backdrop: 1007;
        --z-modal: 1001;
        --z-popover: 1002;
        --z-tooltip: 1003;
        --z-dropdown: 1004;
        --z-sticky: 1005;
        --z-fixed: 1006;
        --z-modal: 1008;
    }
}

/*
Set the default cursor for buttons.
*/

button,
[role='button'] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

.tip-highlight {
    position: relative;
}

.tip-highlight::after {
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    border-radius: inherit;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #fde047; /* TW: text-yellow-300 */
    background-color: rgba(255, 252, 127, 0.35); /* TW: text-yellow-300 */
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.tip-highlight.active::after {
    opacity: 1;
}

.prose {
    @apply text-neutral-600;
}

.prose h1 {
    @apply text-4xl font-semibold text-neutral-900;
}

.prose h2 {
    @apply mt-8 text-2xl font-medium text-neutral-900;
}

.prose h3 {
    @apply mt-6 text-xl font-medium text-neutral-900;
}

.prose p {
    @apply mt-4;
}

.prose .lead {
    @apply text-xl text-neutral-500 font-normal;
}

.prose ul {
    @apply mt-4 list-disc pl-6;
}
