@import 'tailwindcss';
@plugin '@tailwindcss/forms';

/* This will be the shared Tailwind configuration */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-zinc-200, currentColor);
    }
}

button,
[role='button'] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}
